<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>


	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
  	</appender>


	<appender name="applicationLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender" >
		<file>../../../logs/application.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<!-- daily rollover -->
      		<fileNamePattern>../../../logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
      		<!-- keep 7 days' worth of history -->
      		<maxHistory>7</maxHistory>
    	</rollingPolicy>
		<encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
   	</appender>
 
   	
   	<root level="INFO">
    	<appender-ref ref="consoleAppender" />
  	</root>
  
  	<logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="applicationLogAppender" />  
    </logger>
       

   <logger name="applicationLog" level="info">
      <appender-ref ref="applicationLogAppender"/>
   </logger>
   
</configuration>
